body{

    background-color: #f8ffe5;
}


form {
    display: flex;
    justify-content: center;
    margin:auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color : #231651;
}


.calculator {
    background-color: #06d6a0;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    font-size: 33px;
    text-align: right;
    background-color: #85C1E9;
    border: none;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

input {
    background-color: #fff;
    border-radius: 6px;
    width: 100%;
    height: 52px;
    font-size: 22px;
    box-shadow: 0 6px rgba(6, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 15px;
    color: #0d101c;
}

input:hover {
    background-color: #7d0d0d;
    color: #fff;
}

input.operator {
    background-color: #cee9ea;
}

#clear {
    background-color: #ff9fa8;
}

#clear:hover {
    background-color: #f297a0;
}
